.image1-container {
    position: relative;
}

.mountain-img, .history-img, .climb-img {
    width: 978px;
    height: 750px;
}

.navbar {
    position: absolute;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 15%;
    left: 55%;
    font-size: 80px;
    transform: translateX(-50%);
    text-align: center;
}

.logo {
    position: absolute;
    left: 150px;
    padding-top: 10px;
}

.span-1, .span-2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
    position: absolute;
    left: 750px;
    padding-top: 10px;
    padding-right: 7px;
}

.span-2 {
    left: 850px;
}

